<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js"
      integrity="sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ=="
      crossorigin="anonymous"
    ></script>
    <script></script>
    <title>index</title>
  </head>
  <body>
    <div id="app">
      <nav>
        <h1>COUNTRY LIST</h1>
        <div class="searchBar">
          <input type="text" v-model="isSearch" placeholder="S E A R C H" />
          <i class="fa fa-search" aria-hidden="true"></i>
        </div>
      </nav>

      <main>
        <div class="intro">
          <p>Get information about countries via a RESTful API</p>
          <div class="orderBtn" @click="changeOrder">
            <i class="fa fa-list" aria-hidden="true"></i>
          </div>
        </div>

        <div class="content">
          <ul>
            <li v-for="(item,index) in orderedCountries">
              <img :src="item.flag" @click="current_choosed_info = index" />
            </li>
          </ul>
        </div>
      </main>

      <!-- 資訊彈窗 -->
      <transition name="fade">
        <div
          class="infoBg"
          v-if="current_choosed_info !== null"
          @click="info_Close"
        ></div>
      </transition>

      <transition name="fade">
        <div class="info" v-if="current_choosed_info !== null">
          <div class="info_content">
            <img :src="orderedCountries[current_choosed_info].flag" />
            <ul>
              <li>- {{orderedCountries[current_choosed_info].name}}</li>
              <br />
              <li>
                2位國家代碼 : {{orderedCountries[current_choosed_info].alpha2Code}}
              </li>
              <li>
                3位國家代碼 : {{orderedCountries[current_choosed_info].alpha3Code}}
              </li>
              <li>
                母語名稱 : {{orderedCountries[current_choosed_info].nativeName}}
              </li>
              <li>
                替代國家名稱 :
                {{orderedCountries[current_choosed_info].altSpellings}}
              </li>
              <li>
                國際電話區號 :
                {{orderedCountries[current_choosed_info].callingCodes}}
              </li>
            </ul>
          </div>
        </div>
      </transition>
    </div>

    <script>
      new Vue({
        el: "#app",
        data: {
          allcountries: [],
          current_choosed_info: null,
          isReverse: false,
          isSearch: "",
        },
        methods: {
          info_Open() {
            this.current_choosed_info = index;
          },
          info_Close() {
            this.current_choosed_info = null;
          },
          changeOrder() {
            // this.isReverse = !this.isReverse
            if (this.isReverse === true) {
              this.isReverse = false;
            } else {
              this.isReverse = true;
            }
          },
        },
        computed: {
          searchedCountries() {
            const copiedData = this.allcountries.map((x) => x);

            if (this.isSearch) {
              return copiedData.filter((country) => {
                return country.name
                  .toLowerCase()
                  .includes(this.isSearch.toLowerCase());
              });
            } else {
              return copiedData;
            }
          },

          orderedCountries() {
            const copiedData = this.searchedCountries.map((x) => x);

            if (this.isReverse) {
              return copiedData.reverse();
            } else {
              return copiedData;
            }
          },
        },
        mounted() {
          axios.get(`https://restcountries.eu/rest/v2/all`).then((response) => {
            this.allcountries = response.data.map((element) => element);
          });
        },
      });
    </script>
  </body>
</html>
