<!DOCTYPE html>
<html lang="en">
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
      integrity="sha512-5A8nwdMOWrSz20fDsjczgUidUBR8liPYU+WymTZP1lmY9G6Oc7HlZv156XqnsgNUzTyMefFTcsFH/tnJE/+xBg=="
      crossorigin="anonymous"
    />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;500&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"
      integrity="sha512-n/4gHW3atM3QqRcbCn6ewmpxcLAHGaDjpEBu4xZd47N0W2oQ+6q7oc3PXstrJYXcbNU1OHdQ1T7pAP+gi5Yu8g=="
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.9.1/axios.js"
      integrity="sha512-Kg0CewqPNO/ziOJuCq5eyl3P/V6OLz/Lb1I2m+yKS3lHZcGVFN/KOew18rWP+kTsL7haYdaqGjwHQCZrN0heLQ=="
      crossorigin="anonymous"
    ></script>
    <title>COUNTRY LIST</title>
  </head>

  <body>
    <div id="app">
      <!-- 上方bar -->
      <main-nav
        @update-text="getString"
        @update-current-page="reset"
      ></main-nav>

      <!-- <card :parent-msg="maxPage()"></card>
      <card :parent-msg="showTableData.length"></card>
      <card :parent-msg="pageSize"></card> -->
      <!-- <card v-for="(item,index) in showTableData" :parent-msg="item.flag"></card> -->

      <main>
        <div class="intro">
          <p>Get information about countries via a RESTful API</p>
          <order-btn @update-order="changeOrder"></order-btn>
        </div>

        <div class="content">
          <ul>
            <!-- 此處 item = showTableData[index] -->
            <!-- <content-data :show-table-data="item" :key="index" v-for="(item,index) in showTableData" @update-info-open="infoOpen(index)"></content-data> -->

            <!-- v-for 迴圈的 item,index 都只有for 迴圈可用 別再忘記了=_=! -->
            <content-data
              :show-table-data="item"
              :key="index"
              v-for="(item,index) in showTableData"
              @click.native="infoOpen(index)"
            ></content-data>
          </ul>
        </div>
      </main>

      <!-- 資訊彈窗 -->
      <transition name="fade">
        <info-bg
          v-if="showTableData[currentChooseInfo
]"
          @update-info-close="infoClose"
        ></info-bg>
      </transition>

      <transition name="fade">
        <!-- show-table-data="item" > 會報錯, 因為item沒有vue實例中/ 只有剛剛for 迴圈有
        所以改為判斷時看的index值 應該是 [currentChooseInfo
] -->
        <!-- <info :show-table-data="showTableData[currentChooseInfo
]"></info> -->
        <!-- info前加入 v-if 表示如果有資料 showTableData[currentChooseInfo
] 才顯示
        因為也會有有資料但沒有項目的時候 > 所以info 內li 同理 -->
        <info
          v-if="showTableData[currentChooseInfo
]"
          :show-table-data="showTableData[currentChooseInfo
]"
        ></info>
      </transition>

      <!-- 分頁 -->
      <pagination
        :max-page="maxPage()"
        :current-page="currentPage"
        @previous-page-child="previousPage"
        @next-page-child="nextPage"
      ></pagination>
    </div>

    <script src="main_component.js"></script>
  </body>
</html>
